
.ghtc{
border: 1px solid goldenrod;
text-align: center;



}
.ghtc img{
width: 40%;


}
.filmHead{
font: size 20px;
padding:6px 22px;
border-radius: 10px;
margin-bottom: 15px;
}
.filmHead i{
float: right;
}